

#root { 
  /* max-width: 1280px; */
  margin: 47% auto;
  /* padding: 2rem; */
  text-align: center;
  overflow-x: hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.newBg{
 margin-bottom: 0;
}
.health-card {
  color: white;
  border-radius: 5px;
  margin-left: 0;
  width: 85%;
}

.navBar{
  background-color: white;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.main_vital_container{
  width: 80vw;
}
.vital_container{
  width: 99%;

}

.vitals {
  background-color: red;
  height: 4rem;
  width: 4rem;
  border-radius: 30%;
  text-align: center;
  justify-content: center;
  padding: 15px;

  
}

.med{
  background-color: #dcedf9;
}
.spo2{
  background-color:#faf0db;
}
.report{
  background-color:#dcedf9;
}
.virus{
  background-color:#f2e3e9;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  
}
.cardBanner {
    display: inline-block;
  }